:root {
  --primary-color: #4285f4;
  --text-color: #ffffff;
  --bg-color: #010826;
  --border-color: #ddd;
  /*border:1px solid red;*/
}

[data-theme="dark"] {
  --primary-color: #8ab4f8;
  --text-color: #f1f1f1;
  --bg-color: #202124;
  --border-color: #5f6368;
}

*{
  /*border:1px solid green;*/
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 1px solid red;
  max-inline-size: 1920px;
  max-width: 1920px;

}

.app {
  display: flex;
  min-height: 100vh;
  /*inline-size: 120px;*/
}

.news-item {
  border: 1px solid var(--border-color);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

button {
  background-color: var(--primary-color);
  block-size: 50px;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}